# Backend & Database Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=image-dataset

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=images

# ML Models
CLIP_MODEL=sentence-transformers/clip-ViT-B-32
YOLO_MODEL=models/yolo_person_yv11_best.pt
REID_MODEL=models/clip_market1501.pt
SR_MODEL=models/RealESRGAN_x4plus.pth
GEMINI_API_KEY=

# Local Directories (For development only)
DATASET_DIR=

# Server Configuration
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0

# Frontend Environment (Vite requires VITE_ prefix)
VITE_API_URL=http://localhost:8000/api
VITE_WS_URL=ws://localhost:8000/api/ws

MISTRAL_API_KEY=your_api_key_here
